<html>
<head>
<title>6th Street Radio: playlist editor</title>
</head>
<body>
unimplemented

<pre>

<%
	@tracks.each do |e| 
%> <%= e.track_id %>    <%= e.path %> 
<%
	end
%>

</pre>

</body>
</html>
